*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{
    background-color:  rgba(215, 230, 230, 0.664);
}

.logo-box{
  
     position:sticky;
     text-align: center;
     padding: 4px;
     background-color:sandybrown;
     font-size: 24px;
     margin: 8px;
     border-radius: 8px;
     box-shadow:2px  3px  4px #5e5555 ;
     background-color: rgb(68, 65, 62);
 }

 .logo{
   

   padding: 8px;
 }


.navbar{
  position:sticky;
  margin: 8px;
 padding: 10px;
 box-shadow:2px  3px  4px #423f3f ;
 
  background-color: rgb(238, 176, 176);
  
  font-size: 21px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-radius: 8px;
}

.nav-item:hover{
  
   background-color: aqua;
   box-shadow: 3px 2px 3px rgb(13, 247, 247) ;
   border-radius: 5px;
   
   
}
.navbar-brand:hover{
     
    background-color: aqua;
    box-shadow: 3px 2px 3px 0px rgb(39, 243, 243) ;
     border-radius: 5px;
     padding: 8px;
}

.btn {
 
    padding: 6px;
    color:whitesmoke;
    background-color: rgb(75, 75, 230);
    box-shadow: 1px #252525;
    border-radius: 8px;
    letter-spacing: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;


}

 .btn :hover{
     background-color: rgb(69, 199, 69);
     color: aqua;
 }

 .form-control{
     font-size: 18px;
     font-weight: 700;
     font-family: Georgia, 'Times New Roman', Times, serif;
     background-color:rgb(223, 238, 252);
     border: 1px solid #252525;
     border-radius: 8px;
 }
   .dropdown-menu{
    background-color:rgb(81, 181, 214);
     border-radius: 6px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 14px;
     font-weight: 700;
   } 

 .dropdown-item{
     background-color:rgb(81, 181, 214);
     border-radius: 6px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 14px;
     font-weight: 700;

 }

 
  
 .row{

    position: float;
    float: right;
    

 }

 h1{
   text-align: center;
   color: rgb(252, 248, 4);
   font-weight: 700;
   font-size: 45px;

 }

 .column {
    margin: 25px 25px 25px;
    font-size: 25px;
     font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
    background-color:steelblue;
    border-radius: 10px;
    box-shadow: 5px 6px 4px #665f5f;
    width: auto;
   height: 450px;
   padding:15px ;
 }
    
 .col-img{
   
   padding: 15px;
   margin: 10px 10px 15px;
   

 }

       .carousel {
       margin: 10px;
      border-radius: 8px;
     
      }

    .carousel img {
    display: block;
    height: 600px;
    width: 744px;
    border-radius: 8px;
    margin-left: 15px;
    
    } 

@media screen and ( min-width: 868px ) {
.carousel img {
  /* height: 0px; */
}
}  


  footer{
    
     padding: 30px;
    text-align: center;
    background-color:rgb(39, 40, 41);
    color: azure;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    border-radius: 8px;
    box-shadow: 4px 5px 4px rgb(43, 41, 41);
    text-decoration: none;
    
    margin: 4px 6px 6px 4px ;
    margin-bottom: 20px;
  }

   h3{
    font-size: 45px;
   font-weight: 900;
    letter-spacing: 3px;
    
  }



 .foot{
   
   margin: 5px;
  font-size: 20px;
  text-overflow: none;
  text-anchor: middle;
  text-decoration: none;

 }
 .foot:hover{
   color:rgb(252, 233, 233);
   border: 2px solid rgb(206, 198, 198);
   background-color: rgb(134, 118, 118);
   padding: 4px;
   border-radius: 8px;
 }
 .down{
      margin: 2px;
     font-size: 20px;
     padding: 2px;
     text-decoration-line: none;
      
 }
 .down:hover{
   color:rgb(252, 233, 233);
    border: 2px solid rgb(206, 198, 198);
   background-color: rgb(134, 118, 118);
   padding: 4px;
   border-radius: 8px;
 }

 




 p{
   font-size:20px ;
   margin: 8px;
   text-overflow: hidden;
  
 }
 .fab{

   font-size: 26px;
   padding: 3px;
   border-radius: 28px;
   
   background-color: blue;
 }

 .insta{
  
  font-size: 26px;
   padding: 3px;
   border-radius: 28px;
   margin-top: 25px;
   color:aliceblue;
   background-color: rgb(248, 24, 199);
 }

 .youtb{

  font-size: 26px;
   padding: 3px;
   border-radius: 28px;
   margin-top: 25px;
   background-color:red;
 }

.linked{

  font-size: 26px;
  padding: 3px;
  border-radius: 28px;
  margin-top: 25px;
  background-color:rgb(58, 19, 231);
  }

  h2{
    text-align: center;
    margin-top: 55px;
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    color: rgb(253, 150, 24);
    text-shadow: 2px 4px 2px ;
    letter-spacing: 2px;

  }

  h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
  }

  .note1{
    display: float;
     float: left;
    height: 300px;
    width: 280px;
    border: 0px solid black;
    border-style:dashed;
    text-align: center;
    margin: 15px;
    margin-left: 25px;
    padding: 10px;
    padding-left: 20px;
    box-shadow: 4px 6px 4px #423f3f ;
    background-color: thistle;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    animation: note 7s infinite ease-out;
    animation-delay: 5s;
  }
  .note1-img{
    text-align: center;
  }
  .note2{
     display: float;
     float:left;
    height: 300px;
    width: 280px;
    border: 0px solid black;
    border-style:dashed;
    text-align: center;
    margin: 15px;
    margin-left: 25px;
    padding: 10px;
    padding-left: 20px;
    box-shadow: 4px 6px 4px #423f3f ;
    background-color: thistle;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    animation: note 7s infinite ease-out;
    animation-delay: 5s;
  }

  .note2-img{
    text-align: center;
  }


  .note3{
     /* display: flex; */
     display: float;
     float:left;
    height: 300px;
    width: 280px;
    border: 0px solid black;
    border-style:dashed;
    box-shadow: 4px 6px 4px #423f3f;
    text-align: center;
    margin: 15px;
    margin-left: 25px;
    padding: 10px;
    padding-left: 20px;
    background-color: thistle;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    animation: note 7s infinite ease-out;
    animation-delay: 5s;
  }

  .note3-img{
    text-align: center;
  }

  /* .notes{
    margin-top: 35px;
  } */
  .note4{
    
     /* display: flex; */
     display: float;
     float: left;
    height: 300px;
    width: 280px;
    border: 0px solid black;
    border-style:dashed;
    box-shadow: 4px 6px 4px #423f3f;
    text-align: center;
    margin: 15px;
    margin-left: 25px;
    /* margin-top: 25px; */
    padding: 10px;
    padding-left: 20px;
    background-color: thistle;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    animation: note 7s infinite ease-out;
    animation-delay: 5s;
  }


  .note4-img{
    margin: 5px;
    text-align: center;
  }

   @keyframes note {
    0%  {
     filter: blur(0px);
     /* animation-delay: 3s; */
     opacity: 3;
     
    
}
45%{
   filter: blur(2px);
   background-color:rgba(248, 166, 66, 0.938);
   /* animation-delay: 8s; */
   opacity: 1;
}
 
75%{
   filter: blur( 0px);
   opacity: 1;
   animation-delay: 8s;
   background-color: rgb(16, 179, 179);
}
100%{
   filter: blur(1px);
   /* animation-delay: 7s; */
   opacity: 2;
}
   }
  h5{
    color: black;
    margin: 25px;
    text-align: center;
    font-size: 45px;
    font-weight: 900;
    font-family: serif;
  }

  .well{
    
    margin: 10px;
    margin-right: 8px;
     font-size: 30px;
     font-family: serif;
  }
  
  .well-img{
    height: 450px;
    width: 650px;
    margin: 38px;
    position: float;
    float: left;
    border-radius:10px ;
  }

  
 .text{
   color: rgb(218, 80, 0);
   text-align:left;
   font-size: 25px;
   font-family: serif;
   font-weight:500;
 }


 .well-1{
     
     background-color: rgb(2, 168, 168);
     margin: 10px;
     margin-right: 8px;
     font-size: 30px;
     font-family: serif;
     border-radius: 10px;
     box-shadow: 5px 6px 4px #423f3f;
  }
  
  .well1-img{
    height: 450px;
    width: 260px;
    margin: 38px;
    position: float;
    float: left;
    border-radius:10px ;
  }

  .text-1{
    font-style: oblique;
   
    height: 450px;
   color:azure;
   text-align:left;
   font-size: 30px;
   font-family: serif;
   font-weight:500;
   border-radius:10px;
   
 }

 .well-2{
    
    margin: 10px;
    margin-right: 8px;
     font-size: 30px;
     font-family: serif;
  }
  
  .well2-img{
    height: 450px;
    width: 650px;
    margin: 38px;
    position: float;
    float: right;
    border-radius:10px ;
  }

  
 .text-2{
   color: rgb(218, 80, 0);
   text-align:left;
   font-size: 25px;
   font-family: serif;
   font-weight:500;
 }         
 span{
   font-size: 32px;
   font-weight: 800;
   font-family: Georgia, 'Times New Roman', Times, serif;
   text-shadow: 1px 3px;
   animation: follow 3s infinite ease-in-out;
 }
 span:hover{
   color: tomato;
 }

  @keyframes follow {
    
    0%{
      letter-spacing: 2px;
      color:sandybrown;
      opacity: 1;

    }

    45%{
      animation-delay: 4s;
      opacity: 1;
      color:rgb(206, 252, 0);
    }

    75%{
      color:turquoise;
      opacity: 2;
    }

    

  }
